@charset "UTF-8";

.main-contents{
	text-align: right;
    font-weight: bold;
}

.serch{
	background-color: #ffffff;
    margin:1.5em 0.5em;
    border: 4px solid #999999;
}

.messages{
	font-size: 18px;

}

.name{
	font-familly: Impact;
	font-weight: bold;
	color: blue;
}

.message{
    background-color: #ffffff;
    margin:1.5em 0.5em;
     border: 3px double #999999;

}

.comments{
	font-size: 14px;
	background-color: #e4e7e4;
}

.user_name{
	font-familly: Impact;
	font-weight: bold;
	color: blue;
}

textarea{
	height: 120px;
	padding: 5px 8px;
    border-radius: 6px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-color: #ddd;
}