@charset "UTF-8";

.main-contents{
	text-align: right;
    font-weight: bold;
}

.user{
    margin:1.5em 0.5em;
    border: 3px double #999999;
}
.account{
	font-familly: Impact;
	font-weight: bold;
	color: blue;
}

.name{
	font-familly: Impact;
	font-weight: bold;
	color: blue;
}