@charset "UTF-8";

.back{
	text-align: right;
    font-weight: bold;
}

input{
	width: 150px;
	padding: 5px 8px;
    border-radius: 6px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-color: #ddd;
}

textarea{
	width: 250px;
	height: 300px;
	padding: 5px 8px;
    border-radius: 6px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-color: #ddd;
}