@charset "UTF-8";
.back{
	text-align: right;
    font-weight: bold;
}

body{
	text-align: left;
}

input{
	width: 150px;
	padding: 5px 8px;
    border-radius: 6px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    background-color: #ddd;
}

select{
    margin-bottom: 8px;
	border: double 2px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	height: 2em;
	font-size: 1.0em;
}

